/* Variables */
:root {
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --dark-white: #F3F7F9;
  --pale-white: rgba(255, 255, 255, 0.5);
  --promo-button: rgba(255, 255, 255, 0.3);
  --light-grey-button: #C5C5C5;
  --light-grey: #EAEAEA;
  --grey: #F9F5F0;
  --grey-border: #E5E5E5;
  --dark-grey: #A9A9A9;
  --dark-grey-border: #98A0AD;
  --grey-background: #F7F3EC;
  --grey-range-backround: #D7DCDE;
  --yellow: #FFD180;
  --pale-yellow: rgba(255, 209, 128, 0.5);
  --green: #63A63E;
  --green-hover: #5FBB2D;
  --green-active: #518534;
  --green-range: #00CA74;
  --light-blue: #F3F7F8;
  --blue: #32425C;
  --dark-blue: #293449;
  --deep-blue: #212A3A;
  --black-blue: #161D29;
  --light-border-blue: #354F6A;
  --dark-border-blue: #1E3148;
  --red: #EE3643;
  --dark-red: #B52933;
  --dark-red-hover: #BA2732;
  --red-border: #B52933;
  --red-border-active: #8D1E26;
  --red-active: #BA2732;
  --special-sea-green: #39D390;
  --special-yellow: #FFBF47;
  --special-sky-blue: #3BBCE3;
  --special-purple: #DC91D8;
  --special-green: #8ED78F;
  /* Text */
  --pt-sans: "PT Sans", Arial, sans-serif;
  --cuprum: "Cuprum", Arial, sans-serif;
  --h2-font-size: 30px;
  --h2-line-height: 30px;
  --h2-font-weight: 400;
  --p-font-size: 13px;
  --p-line-height: 24px;
}

/* Fonts */
/* cuprum-regular - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
    url('../fonts/cuprum-v11-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/cuprum-v11-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cuprum-italic - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
    url('../fonts/cuprum-v11-latin_cyrillic-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/cuprum-v11-latin_cyrillic-italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cuprum-700 - latin_cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
    url('../fonts/cuprum-v11-latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/cuprum-v11-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
    url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Global */
body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: var(--cuprum);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  /*height: auto;*/
}

ul {
  list-style: none;
  padding: 0;
}

input[type="text"] {
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */
header {
  background-color: var(--light-blue);
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top-wrapper {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--dark-blue);
  height: 42px;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 940px;
  margin: 0 auto;
}

.header-top .logo-wrapper {
  display: flex;
}

.header-top a {
  color: var(--white);
}

.header-top .logo {
  background-color: var(--red);
  padding: 12px 55px;
  border-bottom: 5px solid var(--red-border);
  min-height: 47px;
  box-sizing: border-box;
  width: 220px;
}

.header-top .logo:hover {}

.header-top .logo:active {
  background-color: var(--red-active);
  border-bottom-color: var(--red-border-active);
}

.header-top .search {
  height: 42px;
}

.header-top .search label {
  margin-top: 9px;
}

.header-top .search input {
  border: none;
  height: 100%;
  color: var(--white);
  background-color: var(--dark-blue);
  background: url("../img/icon-search.svg") no-repeat left center;
  background-position: 17px center;
  padding-left: 40px;
}

.header-top .search input:focus {
  background-color: var(--white);
  color: var(--black);
}

.header-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 940px;
  margin: 0 auto;
  padding-top: 47px;
  padding-bottom: 25px;
}

.header-middle ul {
  display: flex;
}

header nav {
  margin-bottom: 60px;
  padding-bottom: 60px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  margin: 0 auto;
  background-color: var(--blue);
}

.user-wrapper {
  display: flex;
  min-height: 42px;
  align-items: center;
}

.user-wrapper a {
  min-height: 42px;
  box-sizing: border-box;
  text-align: center;
  padding-left: 16px;
}

.bookmark {
  background-color: var(--dark-blue);
  min-width: 150px;
  padding-top: 9px;
  position: relative;
}

.bookmark::before {
  content: "";
  width: 14px;
  height: 24px;
  background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 0;
  left: 19px;
  top: 12px;
  opacity: 0.3;
}

.cart {
  background-color: var(--dark-blue);
  padding-top: 9px;
  min-width: 150px;
  position: relative;
}

.cart::before {
	content: "";
	width: 15px;
	height: 24px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
  position: absolute;
  top: 11px;
  left: 25px;
  opacity: 0.3;
}

.not-empty {
  background-color: var(--red);
}

.bookmark:hover, .cart:hover {
  background-color: var(--black-blue);
  color: var(--pale-white);
}

.header-top .order {
  background-color: var(--green);
  text-align: center;
  padding: 9px 17px;
  max-width: 150px;
  height: 42px;
  box-sizing: border-box;
}

.header-top .order:hover {
  background-color: var(--green-hover);
  text-align: center;
}

.header-top .order:active {
  background-color: var(--green);
  text-align: center;
  color: var(--pale-white);
}

header h1 {
  background-color: inherit;
  font-style: italic;
  color: var(--red);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 35px;
}

header .phone {
  font-size: 21px;
  line-height: 30px;
  color: var(--red);
  font-weight: 700;
  background-color: inherit;
  position: relative;
  padding-top: 4px;
  padding-right: 45px;
  padding-bottom: 7px;
  padding-left: 45px;
  text-align: center;
  border: 3px solid #FFFFFF;
  margin-top: 0px;
  margin-bottom: 3px;
  box-sizing: border-box;
  height: 45px;
  min-width: 270px;
  box-sizing: border-box;
}

header .phone::before {
	content: "";
	width: 19px;
	height: 20px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
  position: absolute;
  top: 8px;
  left: 36px;
}

header .phone a {
  margin-left: 25px;
}

header .address {
  font-size: 14px;
  line-height: 24px;
  color: var(--red);
  font-weight: 400;
  background-color: inherit;
  color: var(--blue);
  margin-top: 0;
}

header button {
  border: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
}

header button:hover {
  color: var(--red);
}

header button:active {
  color: var(--light-grey-button);
}

header button[name="login"] {
  background-image: url("../img/icon-login.svg");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 25px;
}

.authorization {
  background-color: var(--white);
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
  text-align: center
}

.login {
  background-position: left center;
  background-repeat: no-repeat;
  min-width: 120px;
  padding: 10px 27px 11px 45px;
  height: 45px;
  margin-right: 10px;
  position: relative;
}

.login::before {
	content: "";
	width: 20px;
	height: 18px;
	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
  position: absolute;
  top: 13px;
  left: 25px;
}

.registration {
  min-width: 150px;
  padding: 12px 24px;
  height: 45px;
}

.user ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user ul li:nth-child(1) {
  width: 100%;
}

.user li:nth-child(1) a:nth-child(1) {
  background-color: var(--white);
  background-image: url("../img/icon-user.svg");
  background-position: left center;
  background-repeat: no-repeat;
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.user li:nth-child(1) a:nth-child(2) {
  height: 18px;
  padding-left: 20px;
  background-color: var(--white);
  background-image: url("../img/icon-login.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.user li:nth-child(n+1), .user li:nth-child(n+1) a {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--blue);
}

.authorization:hover, .user li:nth-child(n+1):hover, .user li:nth-child(n+1) a:hover {
  color: var(--red);
}

.authorization:active, .user li:nth-child(n+1):active, .user li:nth-child(n+1) a:active {
  color: var(--light-grey-button);
}

header nav ul {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--blue);
  border-bottom: 5px solid var(--dark-blue);
  padding-left: 0;
  min-height: 60px;
  box-sizing: border-box;
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
}

header li a {
  color: var(--white);
  padding-top: 18px;
  padding-bottom: 18px;
  padding: 18px 28px;
}

header li {
  flex-grow: 1;
}

header li:nth-child(1) a {
  padding-left: 52px;
}

header li:nth-child(7) a {
  padding-right: 52px;
}

header nav a:hover {
  color: var(--white);
  background-color: var(--dark-blue);
}

header nav a:active {
  color: var(--pale-white);
  background-color: var(--dark-blue);
}

/***** Main content *****/
.red-button {
  display: inline-block;
  padding-top: 11px;
  box-sizing: border-box;
  width: 192px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--red);
}

/* Промоблок */
.promo-block {
  display: grid;
  gap: 20px;
}

.promo-card {
  background-position: right center;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-left: 22px;
  padding-bottom: 22px;
}

.slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  position: relative;
}

.slider-control {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 23px;
  padding-right: 24px;
  padding-bottom: 27px;
  padding-left: 24px;
  box-sizing: border-box;
}

.slide {
  height: 100%;
  padding-top: 23px;
  padding-bottom: 27px;
  padding-left: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider .slide:nth-child(2) {
  background-image: url('../img/promo-slider-1.jpg');
}

.promo-card:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-position-x: 214px;
  background-color: var(--special-yellow);
  background-image: url("../img/icon-promo-1.svg");
}

.promo-card:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-position-x: 195px;
  background-color: var(--special-sky-blue);
  background-image: url("../img/icon-promo-2.svg");
}

.promo-card:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-position-x: 191px;
  background-color: var(--special-purple);
  background-image: url("../img/icon-promo-3.svg");
}

.promo-card:nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.promo-card:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: var(--special-green);
  background-image: url("../img/icon-promo-4.svg");
  background-position-x: 196px;
}

.promo-card:nth-child(7) {
  background-color: var(--special-yellow);
  background-image: url("../img/icon-promo-5.svg");
  background-position-x: 191px;
}

.promo-card h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-card a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--promo-button);
  font-weight: 400;
  box-sizing: border-box;
  padding: 10px 23px;
  min-width: 135px;
  height: 38px;
  display: inline-block;
}

.slider-arrow {
  width: 25px;
  height: 39px;
  background-color: transparent;
  border: none;
  margin-top: 24px;
}

.slider button[name="promoblock-arrow-left"] {
  background-image: url("../img/promoblock-arrow-left.svg");
  background-repeat: no-repeat;
}

.slider button[name="promoblock-arrow-right"] {
  background-image: url("../img/promoblock-arrow-right.svg");
  background-repeat: no-repeat;
  width: 25px;
}

.slider h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 0;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  margin-top: 7px;
}

.dots {
  margin-top: 30px;
  align-self: flex-end;
}

.dot {
  border-radius: 50%;
  border: 2px solid var(--white);
  background-color: var(--white);
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 7px;
}

.current {
  border: 2px solid var(--white);
  background-color: var(--red);
}

.heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey);
  padding-top: 29px;
  padding-right: 14px;
  padding-bottom: 23px;
  padding-left: 28px;
}

.heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue);
  font-weight: 400;
  margin: 0;
}

.heading+a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--red);
}

.popular-items {
  margin-top: 60px;
}

.popular-items .catalog {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item h5 {
  font-family: var(--pt-sans);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--black);
}

.item p {
  font-family: var(--pt-sans);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-grey);
  margin: 0;
  margin-top: -7px;
}

.price {
  background-color: var(--red);
}

.manufacturers {
  margin-top: 70px;
}

.manufacturers ul {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0px;
}

.manufacturers li {
  margin-right: 20px;
  margin-top: 20px;
  line-height: 0;
}

.manufacturers li:nth-child(4n+4) {
  margin-right: 0;
}

.manufacturers a {
  margin-bottom: 0;
}

/* Сервисы - Services */
.services-wrapper {
  background-color: var(--light-blue);
}

.services {
  padding-top: 64px;
  margin-top: 70px;
}

.services h2 {
  color: var(--black);
}

.services p {
  margin-top: 24px;
  margin-bottom: 58px;
  font-family: var(--pt-sans);
}

.services-nav {
  position: relative;
  margin-bottom: 100px;
}

.services-nav button {
  font-family: var(--font-family-Curum);
  font-size: 21px;
  line-height: 30px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  text-align: left;
  padding-left: 23px;
}

.services-nav button {
  width: 240px;
  height: 62px;
  border-top: 1px solid var(--light-border-blue);
  border-bottom: 1px solid var(--dark-border-blue);
}

.services-nav .selected {
  background-color: var(--white);
  border: none;
  color: var(--blue);
}

.services-nav::after {
	content: "";
	width: 10px;
	height: 279px;
	background-image: url("../img/services-shadow.png");
	background-repeat: no-repeat;
	background-position: 0 0;
  position: absolute;
  top: -55px;
  right: 0;
}

.services-tabs {
  display: flex;
  justify-content: space-between;
}

.services-tab-wrapper {
  width: 100%;
  margin-left: 80px;
}

.services-tab {
  background-position: right 23px;
  background-repeat: no-repeat;
  margin-top: 10px;
  height: 100%;
}

.services-tab:nth-child(1) {
  background-image: url("../img/icon-delivery.png");
}

.services-tab:nth-child(2) {
  background-image: url("../img/icon-guarantee.png");
}

.services-tab:nth-child(3) {
  background-image: url("../img/icon-credit.png");
}

.services-tab p {
  margin-top: 30px;
}

/* О компании, Контакты - About, Contacts */
.about-contacts-wrapper {
  margin-bottom: 70px;
}

.about-contacts {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  margin: 0 auto;
  padding-top: 70px;
}

/* О компании - About */
.about, .contacts {
  margin: 0;
}

.about h2, .contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 400;
  margin-top: 0;
}

.about p, .contacts p {
  font-family: var(--pt-sans);
  font-size: var(--p-font-size);
  line-height: 24px;
  color: var(--black);
}

.about p:nth-child(3) {
  margin-top: 25px;
  margin-bottom: 0;
}

.about ul {
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.about a, .contacts a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--red);
}

.about a:active, .contacts a:active {
  background-color: var(--dark-red-hover);
}

.about {
  background-color: var(-white);
}

.about h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
  font-weight: 400;
  text-transform: uppercase;
}

.about ul {
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  margin-top: 3px;
  margin-left: 40px;
}

.about li {
  position: relative;
  margin-bottom: 12px;
}

.about li::before {
  position: absolute;
  top: 12px;
  left: -40px;
  content: "";
  padding-left: 25px;
  border-top: 2px solid var(--red);
}

.about .red-button {
  min-width: 220px;
}

.contacts img {
  margin-top: 20px;
  margin-bottom: 16px;
}

.contacts .red-button {
  width: 100%;
}

/* Footer */
footer {
  color: var(--dark-white);
}

footer a img {
  background-color: var(--red);
  border-bottom: 5px solid var(--dark-red);
  width: 136px;
}

.footer-top-wrapper {
  background-color: var(--blue);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-top div {}

.footer-top nav {
	margin-top: 15px;
}

.footer-top nav ul {
  display: flex;
  justify-content: flex-end;
	margin-top: 34px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.footer-top nav ul:first-child {
	margin-top: 23px;
}

.footer-top nav ul:last-child {
	margin-top: 33px;
}

.footer-top nav ul:nth-child(2) {
  color: var(--yellow);
}

.footer-top nav li {
  margin-right: 60px;
}

.footer-top nav li:last-child {
  margin-right: 0px;
}

.footer-top p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  display: inline-block;
}

.footer-top li a {
  font-size: 18px;
  line-height: 24px;
}

.footer-top li a:hover {
  text-decoration: underline;
}

.footer-top li a:active {
  text-decoration: none;
  color: var(--pale-yellow);
}

.footer-top .logo {
  min-width: 220px;
  height: 63px;
  background-color: var(--red);
  display: inline-block;
  text-align: center;
  border-bottom: 5px solid var(--dark-red);
}

.footer-top .logo img {}

.footer-bottom-wrapper {
  background-color: var(--dark-blue);
  height: 107px;
  display: flex;
}

.footer-bottom {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-bottom p {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer-bottom ul {
  display: flex
}

.footer-bottom li:last-child {
  margin-right: 0px;
}

.footer-bottom li a:hover, .footer-bottom li:active {
  background-color: var(--red);
}

.footer-bottom li:nth-child(1) a {
  background-image: url("../img/icon-vk.svg");
}

.footer-bottom li:nth-child(2) a {
  background-image: url("../img/icon-fb.svg");
}

.footer-bottom li:nth-child(3) a {
  background-image: url("../img/icon-insta.svg");
}

.footer-bottom li a {
	display: inline-block;
	background-color: var(--deep-blue);
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 44px;
	height: 44px;
	margin-right: 3px;
}

.footer-bottom .footer-links-wrapper {
  display: flex;
  justify-content: flex-end;
}

.footer-bottom .footer-links-wrapper p {
  margin-right: 50px;
}

.footer-bottom .footer-links-wrapper p:last-child {
  margin-right: 0px;
}

.footer-bottom .footer-links-wrapper a {
  color: var(--yellow);
}

.footer-bottom .footer-links-wrapper a:hover {
  text-decoration: underline;
}

.footer-bottom .footer-links-wrapper a:active {
  color: var(--red);
  text-decoration: none;
}

.popup-map, .popup-feedback {
  display: none;
}

/* Catalog*/
.breadcrumbs {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.breadcrumbs a {
  font-family: var(--pt-sans);
  font-weight: 400;
  font-size: var(--p-font-size);
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
}

.breadcrumbs a:hover {
  color: var(--red);
}

.breadcrumbs a:active {
  color: var(--light-grey-button);
}

.breadcrumbs li:nth-child(1) {
  width: 14px;
  height: 12px;
  background-color: var(--white);
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs li:nth-child(2n) {
  width: 14px;
  height: 12px;
  background-color: var(--white);
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.catalog {
  font-family: var(--pt-sans);
  color: var(--black);
}

.catalog .filter {
  max-width: 220px;
}

.catalog .sort-items-pagination-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog-content {
  display: flex;
  justify-content: space-between;
}

.catalog .sort {
  display: grid;
  align-items: center;
  grid-template-columns: 220px 220px 220px;
  gap: 20px;
  background: var(--grey-background);
}

.catalog .items {
  display: grid;
  align-items: center;
  grid-template-columns: 220px 220px 220px;
  gap: 20px;
}

.catalog .filter h3,
.catalog .filter h4,
.catalog .filter form {
  font-family: var(--pt-sans);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--grey-background);
}

.catalog .filter-range {
  background-color: var(--grey-background);
}

.catalog .range-round {
  background-color: var(--white);
}

.catalog .range-line {
  background-color: var(--green-range);
}

.catalog .range-line-background {
  background-color: var(--grey-range-backround);
}

.catalog .filter-range {
  background-color: var(--grey-background);
}

.catalog .filter-price input {
  font-family: var(--pt-sans);
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: var(--black);
  background-color: var(--grey-background);
}

.catalog h2 {
  font-family: var(--cuprum);
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue);
  background-color: var(--light-blue);
}

.catalog legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog button[type="submit"] {
  font-family: var(--cuprum);
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--black);
  border: 1px solid var(--grey-border);
  background-color: var(--white);
  text-transform: uppercase;
}

.catalog button[type="submit"]:hover {
  border: 1px solid var(--light-grey-button);
}

.catalog button[type="submit"]:active {
  border: 1px solid var(--red);
}

.item {
  border: 1px solid var(--grey-border);
  box-sizing: border-box;
  min-width: 220px;
  height: 100%;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 21px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.previous-price {
  min-height: 18px;
}

.name-wrapper p {}

.photo-item-wrapper {
  min-width: 185px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 18px;
}

.item .item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.item h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--black);
  margin-top: 0px;
  margin-bottom: 0px;
}

.item s {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-grey);
}

.item .price {
  font-weight: 700;
  background-color: var(--red);
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  box-sizing: border-box;
  width: 141px;
  padding: 10px 0;
  display: inline-block;
  margin-top: 13px;
}

.button-buy {
  font-family: var(--cuprum);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--green);
  background-image: url("../img/icon-cart.svg");
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.button-buy:hover {
  background-color: var(--green-hover);
}

.button-buy:hover {
  background-color: var(--green-active);
}

.button-bookmark {
  font-family: var(--cuprum);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid var(--green);
  border-radius: 2px;
  color: var(--blue);
  background-color: var(--white);
}

.button-bookmark:hover {
  border: 3px solid var(--blue);
}

.button-bookmark:active {
  color: var(--dark-grey-border);
  border: 3px solid var(--dark-grey-border);
}

.pagination {
  font-family: var(--pt-sans);
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  text-align: left;
}

.catalog-about-wrapper {
  background-color: var(--light-blue);
  color: var(--black);
}

.catalog-about {
  max-width: 940px;
  margin: 0 auto;
}

.catalog-about h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog-about p {
  font-size: 13px;
  line-height: 24px;
  font-family: var(--pt-sans);
}

.popup-added-to-cart {
  display: none;
}
